#studyMode {
	// display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// Materials list
	#addMaterialForm {
		form {
			padding: 0 120px 60px 120px;
			box-sizing: border-box;
		}
		ul {
			list-style-type: none;
			padding: 0;
		}
		li,
		li > ul {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		li > ul {
			margin: 0;
			display: flex;
		}

		li {
			div {
				.inlineInput {
					display: flex;
					input {
						width: 100%;
						margin-right: 10px;
					}
				}
			}
			label,
			p {
				flex: 1 0 120px;
				max-width: 200px;
				font-size: 1.5em;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			input,
			select {
				flex: 3 0 120px;
				padding: 1em 2em;
			}
		}

		// button container and styling
		.submitContainer {
			display: flex;
			justify-content: flex-end;
			button {
				padding: 1em 2em;
			}
		}
	}
	// background-color: bisque;
	.container {
		width: 80%;
		.studyDetailsContainer {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
		}
		#materialListFullContainer {
			width: 50%;

			h2 {
				// margin-top: 1.5em;
				margin-bottom: 0;
				font-size: 1.2em;
				font-weight: 700;
				background-color: rgba(142, 68, 173, 1);
				border-radius: 10px 10px 0 0;
				text-align: center;
				padding: 1em 0;
				color: white;
			}
			#materialsListContainer {
				border: 2px solid gray;
				padding: 0 1em;
				// padding: 1.5em;
				border-radius: 0 0 10px 10px;
				// box-shadow: 3px;
				.buttonContainer {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					button {
						margin: 1em 0;
						padding: 1em 1.5em;
						border-radius: 5px;
					}
				}

				#materials-list {
					overflow: auto;
					min-height: 30vh;
					max-height: 50vh;
					h3 {
						font-size: 1em;
						font-weight: 700;
						// margin-bottom: 10px;
						margin-top: 40px;
						text-align: center;
					}
					div {
						display: flex;
						align-items: center;
						font-size: 0.8em;
						// margin: 20px 0;

						input {
							width: 15px;
							height: 15px;
							margin-right: 10px;
						}

						ul {
							padding: 0;
							margin: 0;
							list-style-type: none;
							width: 100%;
							li {
								// margin: 8px 0;
								padding: 10px 0 10px 35px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								font-size: 1.2em;

								button {
									background: none;
									margin-left: 20px;
									padding: 10px 15px;
									font-size: 1em;
									border: 3px solid rgb(142, 68, 173, 0.3);
									color: rgb(142, 68, 173, 1);
									cursor: pointer;
									// background-color: rgba(39, 174, 96, 0.3);
									font-weight: 700;
									border-radius: 5px;
									transition-duration: 0.4s;
									// flex: 1;
									&:hover {
										color: white;
										background-color: rgb(142, 68, 173, 1);
									}
								}
							}
							li:nth-child(even) {
								background-color: rgb(173, 216, 230, 0.3);
							}
							.pageRange {
								margin-left: 5px;
								font-weight: 700;
								color: rgb(78, 78, 78);
							}
						}
						input[type="checkbox"] {
							display: none;
						}
						input[type="checkbox"]:checked + span {
							text-decoration: line-through;
							color: gray;
							// box-shadow: 0 0 0 3px hotpink;
						}
					}
				}
			}
		}

		// width: 100%;
		.headerContainer {
			display: flex;
			flex-direction: row;
			font-size: 1.3em;
			// height: 50px;
			p {
				margin: 5px 0;
			}
			.taskLabel {
				font-weight: 600;
				margin-right: 10px;
			}
		}
		#barHeader {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			margin-top: 60px;
			div {
				width: 20%;
				text-align: center;
			}
			div > h3 {
				font-weight: 600;
				font-size: 1em;
			}
		}
		#barContents {
			// width: 100%;
			display: flex;
			flex-direction: row;
			// align-items: center;
			justify-content: space-around;
			height: 50px;
			font-size: 1.3em;
			div {
				transition-duration: 0.4s;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20%;
				border: 2px solid black;
				font-size: 1em;
			}
			// Changes the colour of the container based on class combinations
			.greenBar {
				background-color: rgba(39, 174, 96, 1);
			}
			.redBar {
				background-color: rgba(192, 57, 43, 1);
				color: white;
			}
			.neutralBar {
				background-color: rgba(230, 126, 34, 1);
				color: white;
			}
		}
	}
	.actionButtonContainer {
		margin-top: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		button {
			cursor: pointer;
			width: 30%;
			padding: 20px 40px;
			border-radius: 5px;
			border: none;
			font-size: 25px;
			font-weight: 700;
			color: white;
			transition-duration: 0.4s;
		}

		#startSession {
			background-color: rgba(39, 174, 96, 1);
			// box-shadow: 4px 4px 0px #1f8449;
			&:hover {
				background-color: #1f8449;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}
		#pauseSession {
			background: #f39c12;
			// box-shadow: 4px 4px 0px #e67e22;
			&:hover {
				background-color: #e67e22;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}
		#endSession {
			background: #3498db;
			// box-shadow: 4px 4px 0px #2d75a5;
			&:hover {
				background-color: #2d75a5;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}

		#pauseSession.disabledButton {
			pointer-events: none;
			color: black;
			background-color: lightgray;
		}
		#endSession.disabledButton {
			pointer-events: none;
			color: black;
			background-color: lightgray;
		}
	}
}

@media only screen and (max-width: 600px) {
	#studyMode {
		width: 90%;
		margin: auto;
		height: 90vh;

		h1 {
			font-size: 2.5em;
		}
		font-size: 0.7em;
		.actionButtonContainer {
			display: flex;
			width: 100%;
			margin-top: 1.25em;
			flex-direction: row;
			justify-content: space-between;
			button {
				width: 30%;
				padding: 10px 20px;
				font-size: 16px;
			}
		}
		.container {
			display: block;

			#barHeader div,
			#barContents div {
				font-size: 0.7em;
				// flex-wrap: wrap;
			}

			width: 100%;
			#barHeader {
				margin-top: 20px;
			}
			#materialListFullContainer {
				width: 100%;
				h2 {
					padding: 0.8em 0;
				}
				#materialsListContainer {
					#materials-list {
						h3 {
							font-size: 1.4em;
						}
						div {
							ul {
								font-size: 1.3em;
								li {
									padding: 0;
									button {
										border: none;
									}
								}
							}
						}
					}
				}
			}
			.studyDetailsContainer {
				.headerContainer:nth-child(n + 2) {
					display: none;
				}
			}
		}
		// Materials list
		#addMaterialForm {
			.submitContainer {
				button {
					padding: 0.5em 1em;
				}
			}
			.taskFormHeader {
				font-size: 0.6em;
			}
			form {
				padding: 0 1em;
				box-sizing: border-box;
			}

			li > ul {
				margin: 0;
				display: flex;
			}

			li {
				label,
				p {
					max-width: 100px;
					font-size: 1em;
					// flex-wrap: wrap;
				}

				input,
				select {
					padding: 0.5em 0.8em;
					font-size: 1em;
				}

				input[type="number"] {
					max-width: 106px;
				}
			}
		}
	}
}
