#studyMode {
	// background-color: bisque;
	.container {
		width: 40%;
		display: flex;
		flex-direction: column;
		// width: 100%;
		.headerContainer {
			display: flex;
			flex-direction: row;
			font-size: 1.3em;
			height: 50px;
			.taskLabel {
				font-weight: 600;
				margin-right: 10px;
			}
		}
		#barHeader {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 60px;
			div {
				width: 25%;
				text-align: center;
			}
			div > h3 {
				font-weight: 600;
				font-size: 1em;
			}
		}
		#barContents {
			// width: 100%;
			display: flex;
			flex-direction: row;
			// align-items: center;
			justify-content: space-around;
			height: 50px;
			div {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25%;
				border: 2px solid black;
				font-size: 1em;
			}
			// Changes the colour of the container based on class combinations
			.greenBar {
				background-color: rgba(39, 174, 96, 1);
			}
			.redBar {
				background-color: rgba(192, 57, 43, 1);
				color: white;
			}
			.neutralBar {
				background-color: rgba(230, 126, 34, 1);
				color: white;
			}
		}
	}
	.actionButtonContainer {
		margin-top: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		button {
			cursor: pointer;
			padding: 20px 40px;
			border-radius: 5px;
			border: none;
			font-size: 20px;
			font-weight: 700;
			color: white;
			transition-duration: 0.4s;
		}

		#startSession {
			background-color: rgba(39, 174, 96, 1);
			// box-shadow: 4px 4px 0px #1f8449;
			&:hover {
				background-color: #1f8449;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}
		#pauseSession {
			background: #f39c12;
			// box-shadow: 4px 4px 0px #e67e22;
			&:hover {
				background-color: #e67e22;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}
		#endSession {
			background: #3498db;
			// box-shadow: 4px 4px 0px #2d75a5;
			&:hover {
				background-color: #2d75a5;
				// transform: translate3d(10px, 5px, 0px);
				// box-shadow: 0 0 0 rgba(26, 188, 156, 0.5);
			}
		}

		#pauseSession.disabledButton {
			pointer-events: none;
			background-color: grey;
		}
	}
}
